.sign-up 
    padding: 100px
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 520px
    width: 445px
.user-name
    display: flex
    justify-content: space-between
.user-name #outlined-basic
    width: 190px
footer 
    width: 450px
    display: flex
    justify-content: flex-end
.sign-up p 
    display: flex
    justify-content: center


